$diamonds-color: red;
$hearts-color: red;
$spades-color: black;
$clubs-color: black;

$card-border: #ccc;
$card-bg: #fff;

$player-bg: #eee;
$active-player-bg: #E1EEF7;

@mixin border-box {
	box-sizing: border-box;
}

@mixin clear {
	&:after {
		content:'';
		display:block;
		clear: both;
	}
}

@mixin blur($radius, $opacity: .4) {
	-webkit-filter: blur($radius);
	-moz-filter: blur($radius);
	-o-filter: blur($radius);
	-ms-filter: blur($radius);
	filter: blur($radius);
	opacity: $opacity;
}

@mixin card {
	&.diamonds {
		color: $diamonds-color;
	}
	&.hearts {
		color: $hearts-color;
	}
	&.clubs {
		color: $clubs-color;
	}
	&.spades {
		color: $spades-color;
	}

	float: left;
	box-sizing: border-box;
	margin: 0 1px;
	padding: 5px;
	display:block;
	border-radius: 6px;
	border: 1px solid $card-border;
	background-color: $card-bg;
}

@mixin card-shadow {
	box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
}

@mixin player-card {
	font-size: 140%;
	padding: 0 5px;
	margin-right: -5px;
	width: 50px;
	height: 50px;
	border-radius: 6px 6px 0 0;
}

@mixin selected-card {
	box-shadow: 0 0 5px 0 blue;
}

@mixin highlight {
	background-color: #E1EEF7;
}

@mixin player {
	position: absolute;
	bottom: 0;
	width: 100%;

	.player-area {
		background: $player-bg;

		.player-info {
			@include clear;
			padding: 5px 7px 10px;
			font-weight: 200;
			font-size: 24px;
			line-height: 30px;

			.game-score {
				float:right;
			}
		}

		.player-hand {
			@include clear;
			padding: 0 5px;
			position: relative;

			.card {
				@include player-card;
				border-bottom: none;


				&.selected {
					@include selected-card;
				}
			}

			.hand-score {
				position: absolute;
				bottom: 5px;
				right: 5px;
			}
		}
	}

	.player-board {
		@include clear;
		padding: 5px;

		.player-actions {
			float: right;
		}

		.played-sets {
			float: left;
		}
	}
}

@mixin discard-pile($width, $height) {
	@include clear;
	width: $width;

	.card {
		@include border-box;
		padding: 2px 4px;
		width: $width;
		height: $height;
		margin-bottom: -$height/4;

		&.tucked {
			margin-bottom: -$height*(7/8);
		}

		&:hover {
			background-color: darken($card-bg, 5%);
			cursor: pointer;
		}
	}
}

@mixin opponent-freeze-button($btn-w, $btn-h) {
	@include border-box;
	position: absolute;
	height: $btn-h;
	width: $btn-w;
	text-align: center;
	margin-top: -($btn-h / 2);
	margin-left: -($btn-w / 2);
	top: 50%;
	left: 50%;
}

@mixin player-name($size) {
	line-height: $size * 1.2;
	font-size: $size;
	font-weight: 200;
}

@mixin opponent {
	padding: 10px 7px 5px;
	background: $player-bg;
	margin-bottom: 5px;
	min-height: 50px;
	position: relative;

	&.can-freeze {
		.header, .details {
			@include blur(1px, .95);
		}
	}

	&.has-turn {
		background: $active-player-bg;
	}

	.freeze-button {
		@include opponent-freeze-button(80px, 36px);
	}

	.header {
		@include clear;
		font-size: 18px;
		line-height: 18px;
		margin-bottom: 5px;
		font-weight: 200;

		.name {
			float: left;
		}

		.game-score {
			float: right;
		}

		.status {
			float: left;
			margin-left: 5px;
		}
	}

	.details {
		@include clear;
		$line-height: 24px;

		.cards-left {
			float:        left;
			line-height:  $line-height;
		}

		.played-sets {
			float: right;
			.set {
				float:         right;
				margin-left:   5px;

				.card {
					padding: 0 4px;
					margin: 0;
					line-height: $line-height - 2px; // for border-top/bottom
				}
			}
		}
	}
}

@mixin modal-positioning {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	height: auto;
	z-index: 2000;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

@mixin overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,.5);
	z-index: 1000;
}
