@import '_base.scss';

/**
 * Variables
 */
$bg-color: white;
$navbar-height: 60px;
$navbar-link-color: black;

$button-bg: #444;
$button-hover-bg: #777;
$button-color: white;
$paragraph-color: #444;

@mixin sans-serif {
	font-family: 'ProximaNova-Regular', sans-serif;
}
@mixin serif {
	font-family: 'Playfair Display', serif;
}
@mixin paragraph {
	@include serif;
	color: $paragraph-color;
	font-size: 1.125em;
	line-height: 1.5em;
	font-weight: 400;
	letter-spacing: 1px;

	@media screen and (max-width: $screen-md-max) {
		font-size: 1em;
		letter-spacing: 0;
	}
}
body {
	color: #181818;
	@include sans-serif;
}

p {
	@include paragraph;
}

address {
	@include paragraph;
	font-size: 1.25em;
}

hr {
	width: 24%;
	margin: 36px auto;

	&.tight {
		margin: 6px auto;
	}
	@media screen and (max-width: $screen-md-max) {
		width: 75%;
	}
}

.section-title {
	@include sans-serif;
	font-size: 3em;
	line-height: 1.3em;
	letter-spacing: 12px;
	padding-bottom: 1em;
	text-transform: uppercase;
	text-align: center;

	@media screen and (max-width: $screen-md-max) {
		font-size: 2em;
		letter-spacing: .2em;
	}
}

h3 {
	@include serif;
	font-size: 2em;
}

.navbar {
	@include box-shadow(1px 0px 15px #aaa);
	background-color:  white;
	position:          fixed;
	top:               0;
	left:              0;
	right:             0;
	position:          fixed;
	z-index:           1000;

	h3 {
		display: none;

		@media only screen and (max-width: $screen-xs-max) {
		}
	}

	.show-menu {
		display: none;
	}

	ul {
		width: $screen-lg-min;
		margin: 0 auto;

		li {
			@include border-box;
			height: $navbar-height;
			padding: 20px 20px;
			float: left;
			width: 25%;
			text-align: center;

			a {
				font-size: 18px;
				text-transform: uppercase;
				color: $navbar-link-color;
				@include sans-serif;
			}
		}

		@media only screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
			width: $screen-md-min;
		}

		@media only screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			width: $screen-sm-min;

			li {
				padding: 20px 0px;
				a {
					font-size: 16px;
				}
			}
		}

	}

	@media only screen and (max-width: $screen-xs-max) {
		height: 40px;

		h3 {
			float: left;
			display: block;
			font-size: 20px;
			line-height: 40px;
			margin: 0 0 0 10px;
		}

		ul {
			width: 100%;
			height: 0;
			border-top: 1px solid #ccc;
			transition: height .5s;
			overflow: hidden;

			li {
				float: none;
				width: 100%;
				height: 40px;
				border-bottom: 1px solid #f1f1f1;
				background: white;
				padding: 0;

				a {
					@include border-box();
					display: block;
					width: 100%;
					height: 40px;
					line-height: 40px;
				}
			}
		}

		.show-menu {
			@include border-box;
			@include border-radius(4px);
			display: block;
			float: right;
			margin: 5px 10px;
			background: #333;
			font-size: 14px;
			color: white;
			height: 30px;
			line-height: 30px;
			border: none;
			padding: 0 10px;
		}

		.close-text {
			display: none;
		}
		.open-text {
			display: inline;
		}

		&.menu-showing {
			ul {
				height: 160px;
				@include box-shadow(0 3px 3px 0 rgba(0,0,0,.3));
			}

			.open-text {
				display: none;
			}
			.close-text {
				display: inline;
			}
		}
	}
}

.pic-frame {
	border: 4px solid black;
}

.btn {
	@include sans-serif;
	text-transform: uppercase;
	background: $button-bg;
	line-height: 30px;
	display: inline-block;
	padding: 0 15px;
	text-align: center;
	color: $button-color;
	@include border-radius(4px);
	&:hover {
		background-color: $button-hover-bg;
	}
}

.cover-photo {
	@include border-box;
	min-height: 700px;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	padding-top: 80px;

	.container {
		text-align: center;
		color: white;

		@include text-shadow(1px 1px 4px #000);
		@include serif;

		h1 {
			letter-spacing: 10px;
			font-weight: bold;
			text-transform: uppercase;
		}

		h3 {
			letter-spacing: 2px;
		}

		hr {
			color: white;
			@include box-shadow(1px 1px 0 #888);
			@include box-shadow(1px 1px 0 rgba(0,0,0,.3));
		}
	}

	@media screen and (max-width: $screen-md-max) {
		min-height: 600px;

		.container {

			.ampersand {
				display: block;
			}

			h1 {
				margin-top: -30px;
			}

			h3 {
				margin-top: 180px;
				font-size: 1.5em;
			}

			hr {
				display: none;
			}
		}
	}
}

section {
	@include border-box();
	background: $bg-color;
	padding: $navbar-height 0 30px;
	width: 100%;
	border-bottom: 1px solid #888;
	@include box-shadow(0 2px 10px #aaa);
}

section.home {
	padding: 0;
}

section.about {
	img {
		width: 100%;
	}
}

section.couple {
	img {
		width: 100%;
	}
}

section.venue {
	&.cover-photo {
		filter: greyscale(100%) blur(2px);
	}
}

section.subscribe {
	background: #333;
}

.subscribe-form {
	$form-bg: #444;
	margin-top: 150px;
	padding: 40px;
	background: $form-bg;
	border-radius: 10px;
	overflow: hidden;
	color: white;

	.section-title {
		padding-bottom: 10px;
	}

	p {
		padding-bottom: 1em;
		color: white;
	}

	@media screen and (max-width: $screen-md-max) {
		margin-top: 0;
		padding: 20px 15px;

		.section-title {
			padding-bottom: 0;
		}
	}


	input[type="email"] {
		font-size: 14px;
		padding: 5px;
		display: block;
		overflow: hidden;
		width: 80%;
		float: left;
		border-width: 2px;
		@include border-box;
		@media screen and (max-width: $screen-md-max) {
			margin: 1em 0;
			float: none;
			display: block;
			width: 100%;
		}
	}

	input[type="submit"] {
		$btn-color: #CCC;
		float: right;
		width: 100px;
		background: white;
		border: none;
		width: 15%;
		font-size: 14px;
		padding: 5px;
		border-width: 2px;
		background-color: $btn-color;
		border: 2px solid $btn-color;
		border-radius: 4px;
		transition: .5s;
		text-transform: uppercase;

		@media screen and (max-width: $screen-md-max) {
			float: none;
			display: block;
			width: 100%;
		}

		&:hover {
			background: white;
			border-color: white;
			cursor: pointer;
		}
	}
}

#travel {
	text-align: center;
	.btn {
		display: block;
		margin: 0.25em 0.5em;
	}
}
