@import '_base.scss';
@import '_mixins.scss';

$navbar-height: 44px;


.navbar {
	@include box-shadow(1px 0px 15px #aaa);
	color:             white;
	background-color:  #444;
	position:          fixed;
	top:               0;
	left:              0;
	right:             0;
	position:          fixed;
	z-index:           1000;
	height:            $navbar-height;

	h3 {
		line-height: $navbar-height;
		margin: 0 10px;
		text-align: center;
	}
	.menu-btn {
		position: absolute;
		left: 5px;
		top: 5px;
	}
}

.main-view {
	@include border-box();

	padding-top: $navbar-height;
	width: 100%;
	height: 100vh;
}

.main-menu {
	text-align: center;
	margin: 30px 
}

.game {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;

	&.has-turn {
		.player-area {
			@include highlight;
		}
	}

	.player-actions button {
		margin-left: 5px;
	}
}

.player {
	@include player;
}

.card {
	@include card;
}

.discard-pile {
	@include discard-pile(60px, 60px);
	height: 100%;
	float: left;
	padding: 5px;
}

.opponents {
	$opponents-col-width: 240px;
	width: $opponents-col-width;
	float: right;

	.opponent {
		@include opponent;
	}
}

.btf-modal {
	@include modal-positioning;
	width: 280px;
	padding: 15px 20px;
	background: white;
	border: 1px solid #ccc;

	// semantic title
	h3 {
		margin-top: 0;
	}
}

.page-overlay {
	@include overlay;
}
