$diamonds-color: red;
$hearts-color: red;
$spades-color: black;
$clubs-color: black;

$card-border: #ccc;
$card-bg: #fff;

@mixin clear {
	&:after {
		content:'';
		display:block;
		clear: both;
	}
}

@mixin card {
	&.diamonds {
		color: $diamonds-color;
	}
	&.hearts {
		color: $hearts-color;
	}
	&.clubs {
		color: $clubs-color;
	}
	&.spades {
		color: $spades-color;
	}

	float: left;
	box-sizing: border-box;
	margin: 5px 2px;
	padding: 5px;
	display:block;
	border-radius: 6px;
	border: 1px solid $card-border;
	background-color: $card-bg;
	box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
}

@mixin full-size-card {
	padding: 15px 20px;
}

@mixin small-card {
	padding: 5px;
}

@mixin selected-card {
	box-shadow: 0 0 5px 0 blue;
}

@mixin highlight {
	background-color: #eee;
}

@mixin player {
	padding: 20px;
}

@mixin player-hand {
	margin-bottom: 20px;
	&:after {
		clear: both;
	}
}

@mixin player-board {
	margin-bottom: 20px;
}
