@import '_mixins.scss';

.game {
	width: 320px;
	height: 480px;
	margin: 0 auto;
	margin-bottom: 40px;
	border: 1px solid #ccc;
	position: relative;

	&.has-turn {
		.player-area {
			@include highlight;
		}
	}

	.player-actions button {
		display: none;
		margin-left: 5px;
	}

	&.can-draw {
		.draw-button,
		.go-down-button
		{
			display: inline-block;
		}
	}

	&.can-discard {
		.discard-button {
			display: inline-block;
		}
	}

	&.can-play-set {
		.play-set-button {
			display: inline-block;
		}
	}
}

.player {
	@include player;

	.player-info {
		@include clear;
		margin-bottom: 10px;

		.player-name {
			margin-top: 0;
			float: left;
		}
		.player-details {
			float: right;
		}
	}

	.player-hand {
		@include player-hand;
	}

	.player-board {
		@include player-board;
	}
}

.card {
	@include card;
}

.discard-pile {
	@include clear;
	width: 40px;

	.card {
		&:hover {
			background-color: darken($card-bg, 5%);
			cursor: pointer;
		}
	}
}
