@import '_mixins.scss';

.game {
	width: 320px;
	height: 480px;
	margin: 0 auto;
	margin-bottom: 40px;
	border: 1px solid #ccc;
	position: relative;

	&.has-turn {
		.player-area {
			@include highlight;
		}
	}

	.player-actions button {
		display: none;
		margin-left: 5px;
	}

	&.can-draw {
		.draw-button
		{
			display: inline-block;
		}
	}

	&.can-go-down {
		.go-down-button
		{
			display: inline-block;
		}
	}

	&.can-discard {
		.discard-button {
			display: inline-block;
		}
	}

	&.can-play-set {
		.play-set-button {
			display: inline-block;
		}
	}
}

.player {
	@include player;

	.player-info {
		@include player-info;
	}

	.player-hand {
		@include player-hand;
	}

	.player-board {
		@include player-board;
	}
}

.card {
	@include card;
}

.discard-pile {
	@include discard-pile(60px, 60px);
	height: 100%;
	float: left;
	padding: 5px;
}

.opponents {
	$opponents-col-width: 240px;
	width: $opponents-col-width;
	float: right;

	.opponent {
		@include opponent;
	}
}
