<div class="header">
	<span class="name">{{ player.user.name }}</span>
	<span class="status" ng-show="player.isFrozen">
		(FROZEN)
	</span>
	<span class="game-score">{{ player.score }}</span>
</div>
<div class="details">
	<span class="cards-left">
		{{ player.hand.length }} <span class="cards-left-icon"></span>
	</span>
	<t-card
		ng-repeat="card in player.hand"
		card="{{card}}"
		ng-click="toggleSelected(card)"
		ng-class="{ selected: (selectedCards.indexOf(card) !== -1) }"
	></t-card>
	<div class="played-sets">
		<div class="set" played-set="set" ng-repeat="set in player.playedSets"></div>
	</div>
</div>
<div ng-transclude></div>
