<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Tunk!</title>
	<meta name="description" content="">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css"></link>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css"></link>
	<link rel="stylesheet" type="text/sass" href="/css/tunk.scss"></link>
</head>
<body ng-app="tunk" ng-controller="MainCtrl">
	<div class="container">
		<section ng-controller="GameCtrl">
			<div class="alert alert-success" ng-show="message.length">{{ message }}</div>

			<p class="message"></p>
			<div
				class="row game"
				ng-repeat="player in players"
				ng-controller="PlayerCtrl"
				ng-class="{
					'has-turn':     (player.id === turn.playerId),
					'can-draw':     (player.id === turn.playerId && !turn.hasDrawn),
					'can-discard':  (player.id === turn.playerId && turn.hasDrawn && !turn.hasDiscarded),
					'is-frozen':    (player.isFrozen)
				}"
			>
				<div class="col-sm-2">
					<h2>
						Deck
					</h2>
					<div class="cards">
						<!--<div class="card" ng-class="card" ng-repeat="card in deck.cards">{{ card }}</div>-->
					</div>
				</div>
				<div class="col-sm-2">
					<h2>
						Discard
					</h2>

					<div class="discard-pile cards">
						<div class="card"
							ng-class="card|suit"
							ng-repeat="card in discardPile"
							ng-click="drawDiscard(card)"
						>
							{{ card|cardValue }}

							<span ng-bind-html="card|suit|suitEntity"></span>
						</div>
					</div>
				</div>
				<div class="col-sm-8">
					<h2>Player</h2>
					<div
						class="player"
					>
						<div class="header">
							<h4 class="name">{{ player.name }}</h4>
							<table class="details">
								<tr>
									<td>
										Game Score
									</td>
									<td>
										<span class="score">{{ player.score }}</span>
									</td>
								</tr>
								<tr>
									<td>
										Hand Score
									</td>
									<td>
										<span class="score">{{ player.handScore }}</span>
									</td>
								</tr>
							</table>
						</div>
						<div class="player-board row">
							<div class="col-sm-6">
								<h5>Potential Sets</h5>
								<div class="set"
									ng-repeat="set in player.potentialSets"
									ng-click="playSet(set)"
								>
										<span class="card"
											ng-class="card|suit"
											ng-repeat="card in set"
											ng-click="drawDiscard(card)"
										>
											{{ card|cardValue }}

											<span ng-bind-html="card|suit|suitEntity"></span>
										</span>
								</div>
							</div>
							<div class="col-sm-6">
								<h5>Played Sets</h5>
								<div class="set" ng-repeat="set in player.playedSets">
									<span class="card"
										ng-class="card|suit"
										ng-repeat="card in set"
										ng-click="drawDiscard(card)"
									>
										{{ card|cardValue }}

										<span ng-bind-html="card|suit|suitEntity"></span>
									</span>
								</div>
							</div>
						</div>
						<div class="player-hand">
							<div class="hand">
								<span
									class="card"
									ng-repeat="card in player.hand"
									ng-click="discard(card)"
									ng-class="card|suit"
								>
									{{ card|cardValue }}

									<span ng-bind-html="card|suit|suitEntity"></span>
								</span>
							</div>
						</div>
						<div class="player-actions">
							<button type="button" class="go-down-button btn btn-primary" ng-click="goDown()">Go Down</button>
							<button type="button" class="draw-button btn btn-primary" ng-click="drawCard()">Draw</button>
						</div>
					</div>
				</div>
			</div>
				<hr />
		</section>
	</div>

	<script type="text/javascript" src="/bower_components/underscore/underscore.js" data-env="dev"></script>
	<script type="text/javascript" src="/bower_components/angular/angular.js" data-env="dev"></script>
	<script type="text/javascript" src="/bower_components/angular-sanitize/angular-sanitize.js" data-env="dev"></script>
	<script type="text/javascript" src="/scripts/app.js"></script>
	<script type="text/javascript" src="/scripts/services/deck.js"></script>
	<script type="text/javascript" src="/scripts/controllers/main.js"></script>
	<script type="text/javascript" src="/scripts/controllers/game.js"></script>
	<script type="text/javascript" src="/scripts/controllers/player.js"></script>
	<script type="text/javascript" src="/scripts/filters/cardvalue.js"></script>
	<script type="text/javascript" src="/scripts/filters/suit.js"></script>
	<script type="text/javascript" src="/scripts/filters/suitentity.js"></script>
	<script type="text/javascript" src="/scripts/filters/sorthand.js"></script>
	<script type="text/javascript" src="/scripts/filters/handscore.js"></script>
	<script type="text/javascript" src="/scripts/filters/cardorder.js"></script>
	<script type="text/javascript" src="/scripts/services/handtester.js"></script>
</body>
