<section>
	<div gamelog="gamelog.log" style="float: left;"></div>

	<div
		class="game"
		ng-repeat="player in room.game.players"
		ng-controller="ClientCtrl"
		ng-class="{
			'has-turn': game.turn.currentPlayer === player
		}"
	>

		<div
			class="discard-pile cards"
			discard-pile="game.discardPile"
			on-card-click="drawDiscard"
		>
		</div>

		<div class="opponents">
			<div
				ng-repeat="opponent in opponents"
				opponent="opponent"
				class="opponent"
				ng-class="{
					'has-turn': (game.turn.currentPlayer === opponent),
					'can-freeze': canFreeze(opponent)
				}"
			>
				<div class="freeze-overlay" ng-show="canFreeze(opponent)">
					<button
						class="freeze-button btn btn-primary"
						ng-click="freeze(opponent)"
					>Freeze</button>
				</div>
			</div>
		</div>

		<div class="player">
			<div class="player-board">
				<div class="played-sets">
					<div class="set" ng-repeat="set in player.playedSets" played-set="set"></div>
				</div>
				<div class="player-actions">
					<button type="button" class="go-down-button btn btn-primary" ng-click="goDown(game, player)" ng-show="canGoDown(game, player)">Go Down</button>
					<button type="button" class="draw-button btn btn-primary" ng-click="drawCard(game, player)" ng-show="canDrawCard(game, player)">Draw</button>
					<button type="button" class="discard-button btn btn-primary" ng-click="discard(game, player, selectedCards[0])" ng-show="canDiscard(game, player)">Discard</button>
					<button type="button" class="play-set-button btn btn-primary" ng-click="playSet(game, player, selectedCards)" ng-show="canPlaySet(game, player, selectedCards)">Play Set</button>
				</div>
			</div>
			<div class="player-area">
				<div class="player-info">
					<span class="player-name">{{ player.user.name }}</span>
					<span class="status" ng-show="player.isFrozen">(FROZEN)</span>
					<span class="game-score">{{ player.score }}</span>
				</div>
				<t-player-hand player="player" selected-cards="selectedCards"></t-player-hand>
			</div>
		</div>
	</div>
</section>
